<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit Assignment</h1>

    <%- include('assignmentForm') %>

        <a href="/assignment-scheduler/:uid/assignment/:aid">Back</a>

</html>