<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New Assignment</h1>

    <%- include('assignmentForm') %>

    <a href="/assignment-scheduler/:uid/assignments">Back</a>

</html>