<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit User</h1>

    <%- include('userForm') %>

        <a href="/users ">List</a>

</html>