<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New User</h1>

    <%- include('userForm') %>

    <a href="/assignment-scheduler/login ">Back</a>

</html>