<!-- Alexis Webster -->
<% 
  route = `/assignment-scheduler-login`;
%>

<h1>Assignment Scheduler</h1>
<h2>Login</h2>
<form action="<%=route%>" accept-charset="UTF-8" method="post">
    <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" required id="email" value="<%= email %>">
    </div>

    <div class="padding">
        <style>
            .padding {
                height: 10px;
            }
        </style>
    </div>

    <div class=" field ">
        <label for="password ">Password</label>
        <input type="hidden" name="password" required id="password" value="<%= password %>">
    </div>

    <div class="padding"></div>

    <div class="padding"></div>

    <div class="actions">
        <input type="submit" name="commit" value="Login" />
    </div>
</form>

<a href="/assignment-scheduler/signup">Sign Up</a>

<a href="/assignment-scheduler/guest">Guest Planner</a>