<!-- Alexis Webster -->
<% 
  if (assignment.aid) {
    submitLabel = "Update Assignment";
    route = `/assignment-scheduler/${assignment.userId}/assignments/${assignment.aid}`;
  } else {
    submitLabel = "Create Assignment";
    route = `/assignment-scheduler/${req.params.uid}/assignments/new`;
  }
%>
                <form name="assignmentForm" action="<%=route%>" accept-charset="UTF-8" method="post">
                    <div class=" field ">
                        <label for="assignment_name ">Name</label>
                        <input type="text" name="assignment[name]" id="name" value="<%= assignment.name %>" required>
                    </div>

                    <div class="padding"></div>

                    <div class="actions">
                        <input type="submit" name="commit" value="<%= submitLabel %>" />
                    </div>
                </form>