<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit Guest Assignment</h1>

    <%- include('guestAssignmentForm') %>

        <a href="/assignment-scheduler/guest/<%= assignment.aid %>">Back</a>

</html>