<!-- Alexis Webster -->

<html>

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New Guest Assignment</h1>

    <%- include('guestAssignmentForm') %>

    <a href="/assignment-scheduler/guest">Back</a>

</html>